<div class="topbar">

  <!-- BOTÓN MENÚ -->
  <button class="icon-btn" (click)="layoutService.toggleMenu()">
    <i class="pi pi-bars"></i>
  </button>

  <div class="flex-spacer"></div>

  <!-- FULLSCREEN -->
  <button class="icon-btn" pButton icon="pi pi-window-maximize" (click)="toggleFullscreen()"></button>

  <!-- DARK MODE -->
  <button class="icon-btn" pButton [icon]="darkMode ? 'pi pi-sun' : 'pi pi-moon'" (click)="toggleDark()"></button>

  <!-- NOTIFICACIONES -->
  <button class="icon-btn" pButton icon="pi pi-bell" badge="2" severity="danger"></button>

  <!-- PERFIL -->
  <div class="profile-container" (click)="menu.toggle($event)">

    <p-avatar
      styleClass="avatar"
      shape="circle"
      [label]="currentUser?.initial"
      [pTooltip]="currentUser?.fullName">
    </p-avatar>

    <div class="profile-info">
      <span class="name">{{ currentUser?.fullName }}</span>
      <span class="role">{{ currentUser?.role }}</span>
    </div>

    <i class="pi pi-chevron-down"></i>
  </div>

  <!-- MENÚ -->
  <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>

</div>
