<div class="topbar">
  <button class="menu-btn" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div class="flex-spacer"></div>

  <!-- FULLSCREEN -->
  <button class="icon-btn" pButton icon="pi pi-window-maximize" (click)="toggleFullscreen()"></button>

  <!-- DARK MODE -->
  <button class="icon-btn" pButton [icon]="darkMode ? 'pi pi-sun' : 'pi pi-moon'" (click)="toggleDark()"></button>

  <!-- NOTIFICACIONES -->
   <app-notificacion></app-notificacion>

  <!-- PERFIL -->
  <div class="profile-container" (click)="menu.toggle($event)">

    <p-avatar
      styleClass="avatar"
      shape="circle"
      [label]="currentUser?.initial"
      [pTooltip]="currentUser?.fullName">
    </p-avatar>

    <div class="profile-info">
      <span class="name">{{ currentUser?.fullName }}</span>
    </div>

  <!-- Notificaciones y Perfil -->
  <div class="right-section">

    <!-- <p-overlayPanel #op [showCloseIcon]="true">
        <div class="menu-item" (click)="goToProfile()">
          <i class="pi pi-user"></i> Ver Perfil
        </div>
        <div class="menu-item" (click)="openSettings()">
          <i class="pi pi-cog"></i> Configuración
        </div>
        <div class="menu-item logout" (click)="logout()">
          <i class="pi pi-sign-out"></i> Cerrar Sesión
        </div>
      </p-overlayPanel> -->
  </div>

  <!-- MENÚ -->
  <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>


</div>