.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start; /* opcional */
    padding: 0;
    transition: margin-left var(--layout-section-transition-duration);
}


.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
